body {
    font-family: 'Arial', sans-serif;
    background-color: #1D252C;
    color: #fff;
    line-height: 1.6;
    padding: 20px;
}

#logo-container {
    text-align: center;
    margin-bottom: 20px;
}

#logo {
    max-width: 500px;
    height: auto;
    display: inline-block;
}

#note-container, #saved-notes-container {
    background: white;
    color: black;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    width: 50%;
}

input[type="text"], textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

textarea#note-text {
    height: 150px;
}

button, .copy-note-button, .edit-note-button, .save-note-button {
    background-color: #e37222;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 15px;
    text-align: center;
    margin-left: 5px;
}

button:hover, .copy-note-button:hover, .edit-note-button:hover, .save-note-button:hover {
    background-color: #9e4f17;
}

h2 {
    color: #333;
}

#saved-notes div {
    background-color: #fdfdfd;
    border: 1px solid #ddd;
    padding: 10px;
    word-break: break-all;
}

.note-timestamp-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.note-timestamp {
    margin-right: 10px;
    font-size: 0.8em;
    color: #888;
}

.note-content {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fdfdfd;
    border: 1px solid #ddd;
    word-break: break-all;
}

.feedback-button {
    display: inline-block;
    background-color: #e37222;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 12px;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
}

.feedback-button:hover {
    background-color: #9e4f17;
}

footer#page-footer {
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    font-size: 14px;
    color: #fff;
}

footer#page-footer p {
    margin: 0;
}

/* Added styles for call type container and labels */
#call-type-container {
    margin: 10px 0;
}

#call-type-container label {
    margin-right: 10px;
    color: black; /* Adjusts label color for visibility against the white background */
}